{% extends 'base.html.twig' %}

{% block title %}Chercher une blague{% endblock %}

{% form_theme searchform 'bootstrap_4_layout.html.twig' %}

{% block main %}

        {{ form_start(searchform) }}
            <div class="form-group-row">
                <div class="col-sm-4 offset-sm-4">
                    <div class="form-title"><h2>Chercher une blague</h2></div>
                    {{ form_widget(searchform.recherche) }}
                    {{ form_widget(searchform.submit) }}
                </div>
            </div>
        {{ form_end(searchform) }}  

{% endblock %}